<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="step01">
        <h1>상품 담기</h1>

        <!-- select 태그의 v-model은 변화된 option태그의 value값으로 데이터를 바꾼다. -->
        <select v-model="selectedFruit">
            <option v-for="fruit in fruits" :value="fruit">
                {{ fruit.name }}
            </option>
        </select>
        <button @click="addProduct(selectedFruit)">상품 추가</button>
        <hr>
        <ul>
            <li v-for="list in basket">{{ list }}</li>
        </ul>
        <p>{{ totalPrice }}</p>
    </div>
    <script>
        const {createApp, ref} = Vue;

        createApp({
            setup() {
                const selectedFruit = ref({name: "Apple", price:100});
                const fruits = ref([
                    {name: "Apple", price:100},
                    {name: "Banana", price:200},
                    {name: "Pineapple", price:300}
                ]);
                const addProduct = (product) => {
                    basket.value.push(product.name);
                    totalPrice.value += product.price;
                }
                const basket = ref([]);
                const totalPrice = ref(0);

                /* 반응형 변수에 담기는 초기값이 따로 없더라도 타입을 알 수 있는 초기값을 작성해 두자. */

                return {
                    selectedFruit,
                    fruits,
                    addProduct,
                    basket,
                    totalPrice
                }
            }
        }).mount('#step01');
    </script>
</body>
</html>