<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.section03.remix.MenuMapper">
    <resultMap type="com.ohgiraffers.section03.remix.MenuDTO" id="menuResultMap">
        <id property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuPrice" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>
    <select id="selectAllMenus" resultMap="menuResultMap">
        SELECT
        MENU_CODE
        , MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        FROM TBL_MENU
    </select>
    <select id="selectMenu" parameterType="_int" resultMap="menuResultMap">
        SELECT
        MENU_CODE
        , MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        FROM TBL_MENU
        WHERE MENU_CODE = #{menuCode}
    </select>
    <!--    <insert id="insertMenu" parameterType="com.ohgiraffers.section01.xmlconfig.MenuDTO">-->
    <insert id="insertMenu" parameterType="com.ohgiraffers.section03.remix.MenuDTO">
        INSERT
        INTO TBL_MENU
        (
        MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        )
        VALUES
        (
        #{menuName}
        , #{menuPrice}
        , #{categoryCode}
        , 'Y'
        )
    </insert>
    <update id="updateMenu" parameterType="com.ohgiraffers.section03.remix.MenuDTO">
        UPDATE
        TBL_MENU
        SET MENU_NAME = #{menuName}
        , MENU_PRICE = #{menuPrice}
        WHERE MENU_CODE = #{menuCode}
    </update>
    <delete id="deleteMenu" parameterType="_int">
        DELETE
        FROM TBL_MENU
        WHERE MENU_CODE = #{menuCode}
    </delete>
</mapper>